*{
    box-sizing:border-box
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    /* 让背景图覆盖整个背景 */
    background-size: cover;
}
.logo {
    padding-top: 20px;
    margin-left: 200px;
}
.loginAndbox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 310px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
}
.title-box {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}
.loginAndbox a{
    text-decoration: none;
    color: black;
}
.loginAndbox form {
   padding:4px 30px;
}
.reg-box {
    display: none;
}
.div-row{
    position: relative;
    margin-bottom: 14px;
}

.inp_user,.inp_pword {
    border: #e6e6e6 1px solid;
    padding-left: 30px;
    width: 100%;
    height: 36px;

}
.iconfont{
    position: absolute;
    left: 10px;
    top: 12px;
}

.loginAndbox .btn{
    display: block;
    border: 0;
    margin-bottom: 14px;
    width: 100%;
    height: 34px;
    background-color: #1e9fff;
    color: #ffffff;
}
.login-box .div-row:last-child,.reg-box .div-row:last-child {
    display: flex;
    justify-content: flex-end;
}
.div-row a {
    font-size: 12px;
}

/*给提示信息的span元素设置悬浮框样式 */
.loginAndbox .tip {
    position: absolute;
    display: block;
    display: none;
    border: 1px solid gray;
    left:50%;
    top:  50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 45px;
    background-color: #ffffff;
    line-height: 45px;
    font-size: 12px;
    text-align: center;
    color: red;
}